{% extends 'base.html' %}
{% block title %} <title>Visitors Record</title> {% endblock %}

{% block content %} 
{% include 'security/security_nav.html' %}
<h2>Visitors Record</h2>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>ID Number</th>
      <th>ID Image</th>
      <th>Time In</th>
      <th>Time Out</th>
      <th>Department</th>
      <th>Attended</th>
      
    </tr>
  </thead>
  <tbody>
    {% for visitor in visitors %}
          <tr>
            <td>{{ visitor.id }}</td>
            <td>{{ visitor.date }}</td>
            <td>{{ visitor.first_name }}</td>
            <td>{{ visitor.last_name }}</td>
            <td>{{ visitor.email }}</td>
            <td>{{ visitor.phone }}</td>
            <td>{{ visitor.id_number }}</td>
            <td><a href="#" target="_blank">View Image</a></td>
            <td>{{ visitor.time_in }}</td>
            <td>{{ visitor.time_out }}</td>
            <td>{{ visitor.department }}</td>
            <td>{{ visitor.attended }}</td>
            
          </tr>
        {% endfor %}
      </tbody>
</table>





{% endblock %}
