{% extends 'base.html' %}
{% load static %}
{% block title %} <title>Home</title> {% endblock %}

{% block content %} 
{% include 'navbar.html' %}

{% if user.is_authenticated %}
    {% if user.userprofile.user_type == 'security' %}
        <p>Welcome, Security Guard {{ user.username }}!</p>
        <!-- Additional content for security guards -->
    {% elif user.userprofile.user_type == 'department' %}
        <p>Welcome, Department Admin {{ user.username }}!</p>
        <!-- Additional content for department admins -->
    {% else %}
        <p>Welcome, User {{ user.username }}!</p>
        <!-- Additional content for other user types -->
    {% endif %}
{% endif %}


 <link rel="stylesheet" href="{% static 'css/main.css'%}">
{% endblock %}